*{
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
    width: 100%;
}
/*顶部导航栏*/
.nav{
    height: 40px;
    font-size: 14px;
    position:fixed;/*固定在顶部*/
    top:0;
}
.nav div{
    height: 100%;
    margin-left: 37px;
    margin-right: 37px;
}
/* 导航栏左边部分 */
.nav div .nav-c{
    float: left;
    margin-left: 300px;
    width: 700px;
    /* height: 40px; */
}
.nav div .nav-c li{
    float: left;
    width: 60px;
    height: 40px;
    line-height: 40px;
    margin: 0 18px;
    list-style: none;
    text-align: center;
    cursor: pointer;
}
.nav div .nav-c li a{
    text-decoration: none;
    color: #505050;
}
.nav div .nav-c li a:hover{
    color: #49c0e0;
}

/* 导航栏右边部分 */
.nav div .nav-right{
    float: right;
    height: 40px;
    color: #505050;
    position: fixed;
    top: 0px;
    left: 1000px;
}
.nav div .nav-right li{
    float: left;
    height: 40px;
    line-height: 40px;
    list-style: none;
    text-align: center;
    cursor: pointer;
}
.nav div .nav-right li:nth-child(1){
    width: 20px;
    margin-right: 5px;
}
.nav div .nav-right li:nth-child(1) img{
    width: 20px;
    height: 20px;
    margin-top: 11px;
}
.nav div .nav-right li:nth-child(2){
    width: 70px;
}
.nav div .nav-right li:nth-child(2) a{
    text-decoration: none;
    color: rgb(163, 163, 164);
}
/*鼠标移到用户名时背景变色未写*/
.nav div .nav-right li:nth-child(3){
    width: 104px;
    padding: 0 10px;
    box-sizing: border-box;
    background: #49c0e0;
}
.nav div .nav-right li:nth-child(3) .spana{
    float: left;
    height: 40px;
    margin-right: 5px;
}
.nav div .nav-right li:nth-child(3) .spana img{
    width: 16px;
    height: 16px;
    margin-top: 12px;

}
.nav div .nav-right li:nth-child(3) .spanb{
    float: left;
    height: 40px;
    line-height: 40px;
    color: #fff;
}
.nav div .nav-right li:nth-child(4){
    width: 60px;
}
.nav div .nav-right li:nth-child(4) img{
    width: 18px;
    height: 18px;
    margin-top: 11px;
}


/* 侧边导航栏 */
.nav-left{
    position: fixed;
    top: 0;
    left: 37px;
    width: 210px;
    height: 38px;
    background: #2ccce9;
    padding: 4px 4px 2px 6px;
    cursor: pointer;
    box-sizing: border-box;
    float:left; 
}

/* 标题部分 */
.header{
    width: 100%;
    /* height: 170px; */
    margin-top: 40px;
}
.header .h-top{
    height: 100px;;
    /* line-height: 144px; */
    background: linear-gradient(60deg, rgb(18, 199, 238), rgb(18, 199, 238));
    color: #fff;
}
.header .h-top div{
    width: 1100px;
    margin: 0px auto;
    position: relative;
}
.header .h-top div span{
    position: absolute;
    /* height: 28px; */
    /* line-height: 28px; */
    margin-top: 25px;
    left: 470px;
    font-size: 30px;
}
/* 中间部分框架 */
/* section .main{
    background-color: #505050;
    width: 100%;
} */
section .gary{
    float: left;
    background: rgb(201, 198, 198);
    width: 100%;
    padding-left: 40px;
}
section .gary li{
    /* float: left; */
    display: inline-block;
    margin-left: 120px;
    width: 18%;
    text-align: center;
}
/* 鼠标滑动事件 */
li:hover{
    border: 1px solid #fff;
    background: #fff;
}
/* 中间框架部分 */

/* page1 */
/* 基本资料页面 */
#page1{
    width: 100%;
    height: 600px;
    overflow: hidden;
    /* height: 400px; */
    /* text-align: center; */

}
#page1 .pa-top{
    height: 40px;
    background: #fff;
    font-size: 20px;
    padding: 8px 0;
}
/* 设置资料表格布局 */
#page1 .pa1-tab{
    width: 95%;
    height: 300px;
    margin: 0 5% 0 5%;
}
#page1 .pa1-tab .tab1{
    float: left;
    width: 40%;
    padding-left: 8%;
} 
#page1 .pa1-tab .tab2{
    float: right;
    width: 40%;
    padding-right: 8%;
}
#page1 .pa1-tab div p{
    border: 1px solid #ced2d3;
    margin: 5px 5px;
    padding: 10px 0;
    /* width: 300px; */
    /* box-sizing: border-box; */
}
#page1 .pa1-tab div p span:nth-child(1){
    background: #e6ebec;
    padding: 10px 20px;
    width: 20px;
    box-sizing: border-box;
    /* text-align: center; */
}
#page1 .pa1-tab div p span:nth-child(2){
    box-sizing: border-box;
    padding: 9px;
    box-sizing: border-box;
}

/* page2 */
/* 修改密码页面 */
#page2{
    width: 100%;
    height: 600px;
    overflow: hidden;
    text-align: center;
}
#page2 .pa2-top span{
    width: 15px;
}
#page2 .pa2-bottom form p{
    height: 20px;
}
#page2 .pa2-bottom form input{
    height: 25px;
    /* padding: 5px 0; */
}
#page2 .pa2-bottom form span{
    color: #ced2d3;
    font-size: 12px;
}
#page2 .pa2-bottom form span i{
    color: red;
}
#page2 .pa2-bottom form .button{
    /* padding: 5px; */
    background: #49c0e0;
    color: #fff;
    border: none;
    width: 170px;
    height: 30px;
}

/* page3 */
/* 意见反馈页面 */
#page3{
    width: 100%;
    height: 600px;
    overflow: hidden;
    /* text-align: center; */
}
/* 意见反馈顶部长条样式 */
#page3 .pa3-top{
    width: 90%;
    height: 40px;
    line-height:40px;
    background: #fafdfd;
    margin: 0 auto;
}
#page3 .pa3-top div{
    width: 100%;
}
/* .page3 .pa3-top p{
    width: 100%;
    /* height: 40px; */
/* }  */
#page3 .pa3-top button{
    background: #49c0e0;
    color: #fff;
    float: right;
    border: none;
    padding: 5px 5px;
    text-align: center;
}
#page3 .pa3-top button img{
    height: 10px;
}
/* 意见反馈中心样式 */
/* 表头 */
#page3 .pa3-bottom{
    width: 100%;
    margin: 0 auto;
}
#page3 .pa3-bottom div{
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left:70px;
    padding-right: 70px;
    box-sizing: border-box;
}
#page3 .pa3-bottom div p{
    width: 100%;
}
#page3 .pa3-bottom div p span{
    text-align: center;
    float: left;
    height: 40px;
}
#page3 .pa3-bottom .pa3-b1{
    width: 100%;
    background: #e6ebec;
}
#page3 .pa3-bottom .pa3-b1 p{
    font-size: 13px;
    width: 100%;
}
#page3 .pa3-bottom div p span:nth-child(1){
    display:inline-block;
    text-align: left;
    width: 55%;
}
#page3 .pa3-bottom div p .pa3-b2 span:nth-child(1){
    display:inline-block;
    text-align: left;
    font-weight: bold;
    width: 55%;
}
#page3 .pa3-bottom div p span:nth-child(2){
    display: inline-block;
    width: 13%;
}
#page3 .pa3-bottom div p span:nth-child(3){
    display: inline-block;
    width: 13%;
}
#page3 .pa3-bottom div span:nth-child(4){
    display: inline-block;
    width: 13%;
}
#page3 .pa3-bottom div span:nth-child(4) span{
    width: 100%;
}
/* 展开按钮 */
#page3 .pa3-bottom .pa3-b2{
    overflow: hidden;
    height: 40px;
}

#page3 .pa3-bottom .pa3-b2 p{
    /* font-size: 13px; */
    width: 100%;
}
#page3 .pa3-bottom .pa3-span2{
    width: 100%;
}
#page3 .pa3-bottom .pa3-span2 span{
    text-align: center;
    height: 40px;
    width: 50%;
    float: left;
}


/* 脚本部分 */
.footer {
    width: 100%;
    height: 126px;
    background: url(images/ditu.jpg);
    padding-top: 30px;
    bottom: 0;
    margin-top: 30px;
    box-sizing: border-box;
}
.footer .bbox {
    width: 600px;
    margin: 0 auto;

}
.footer .bbox .b1 {
    width: 600px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    color: #afb0b2;
    margin:0px 0px 8px 0px;
    font: 16px "微软雅黑";

}
.footer .bbox .b1 img {
    width: 200px;
    height: 30px;
    vertical-align: middle;
}
.footer .bbox .b1 .line {
    color: #6c7177;
    font-weight: 100;
    margin-left: 10px;
}
.footer .bbox .b2 {
    width: 100%;
    height: 25px;
}
.footer .bbox .b2 .bb1,.bb2,.bb3 {
    font: 14px "微软雅黑";
    color: #afb0b2;
    text-decoration: none;
}
.footer .bbox .b2 .bb1 {
    margin-left: 158px; 
}
.footer .bbox .b2 .bb2,.bb3 {
    margin-left: 60px; 
}
.footer .bbox .b3 {
    width: 600px;
    height: 30px;
    color: #6f7376;
    font: 12px "微软雅黑";
    text-align: center;
    line-height: 30px;
}

/* .main div {
    display: none;
}
.mian .page1 {
    display: block;
} */