<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
  <div id="app">
    <!-- radio单选框 -->
    <!-- 当 v-model 绑定的值与label相同时 代表当前单选框被选中 -->
    <!-- <el-radio v-model="radio" label="1">备选项1</el-radio>
    <el-radio v-model="radio" label="2">备选项2</el-radio> -->

    <!-- <el-row>
      <el-radio disabled v-model="radio" label="1">备选项1</el-radio>
      <el-radio disabled v-model="radio" label="2">备选项2</el-radio>
    </el-row> -->

    <!-- 单选框组 适用于多个互斥选项 -->
    <!-- v-model是 :value="" @input=""的缩写 -->
    <!-- el-radio-group事件中 change事件绑定值发生变化时触发 -->
    <el-radio-group @change="radioChange" v-model="radio1">
      <el-radio :label="1">选项1</el-radio>
      <el-radio :label="2">选项2</el-radio>
      <!-- 会将一个纯字符串类型的数字转换成 number 类型 -->
      <el-radio :label="3">选项3</el-radio>
    </el-radio-group>
  </div>
</body>
  <!-- import Vue before Element -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- import JavaScript -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script>
    new Vue({
      el: '#app',
       data: function(){
        return{
          radio: "2",
          radio1: 3
        }
      },
      methods:{
        radioChange:function(val){
          // console.log(1);
          console.log(val);

        }
      }
    })
  </script>
</html>